<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Simulador de Investimentos</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>

  <div class="container">

    <h1>Simulador de Investimentos</h1>
    <p class="subtitle">Simule. Compare. Entenda.</p>

    <form method="POST">

      <!-- VALOR INICIAL -->
      <label>
        Valor inicial
        <small>Quanto você já tem para investir</small>
        <input type="number" name="valor_inicial" required>
      </label>

      <!-- APORTE MENSAL -->
      <label>
        Aporte mensal
        <small>Quanto você pretende investir todo mês</small>
        <input type="number" name="aporte_mensal" required>
      </label>

      <!-- OBJETIVO / PRAZO -->
      <label>
        Objetivo do investimento
        <small>O tempo influencia diretamente no resultado</small>
        <select name="objetivo" required>
          <option value="">Selecione o objetivo</option>
          <option value="curto">Curto prazo — 1 a 2 anos</option>
          <option value="medio">Médio prazo — 3 a 5 anos</option>
          <option value="longo">Longo prazo — acima de 5 anos</option>
        </select>
      </label>

      <!-- TIPO DE INVESTIMENTO -->
      <label>
        Tipo de investimento
        <small>Cada opção possui risco e retorno diferentes</small>
        <select name="tipo_investimento" id="tipoInvestimento" required>
          <option value="">Selecione o tipo de investimento</option>

          <option value="selic">
            Tesouro Selic — título público atrelado à taxa básica de juros
          </option>

          <option value="cdb">
            CDB — título bancário que rende um percentual do CDI
          </option>

          <option value="ipca">
            Tesouro IPCA+ — título público que protege contra a inflação
          </option>
        </select>
      </label>

      <!-- CAMPOS CONDICIONAIS -->
      <div class="extra" id="campo-Cdi">
        <label>
          Percentual do CDI
          <small>É o percentual que vai fazer seu dinheiro render ao longo do tempo</small>
          <input type="number" name="percentual_cdi">
        </label>
      </div>

      <div class="extra" id="campo-Ipca">
        <label>
          Adicional acima do IPCA
          <small>Ganho real acima da inflação</small>
          <input type="number" name="adicional_ipca">
        </label>
      </div>

      <button type="submit">Simular investimento</button>

    </form>

  </div>

</body>
</html>